<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>{title}</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
        
        <!--[if lt IE 9]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <meta name="description" content="This design is a slavish copy of http://www.dw.de">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!--
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,900' rel='stylesheet' type='text/css'>
        -->

        <link href='http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css' rel="stylesheet' type="text/css">
        <link rel="stylesheet" href="/~coolj/css/normalize.css">
        <link rel="stylesheet" href="/~coolj/css/main.css">
        <link rel="stylesheet" href="/~coolj/assets/stylesheets/dw.de.css">
        <link rel="stylesheet" href="/~coolj/assets/stylesheets/responsive.css">
        <script src="/~coolj/js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div id="nav-meta">
                <ul>
                    <li><a href="/~coolj/my.py/about/dw.de">About</a></li>
                    <li><a href="/~coolj/cis127/html5_links.py">Class Links</a></li>
                    <li><a href="/~coolj/my.py/sitemap">Sitemap</a></li>
                </ul>
            </div>
            <div id="nav-container">
                <div id="nav-head">
                    <div id="logo">
                    </div>
                    <div id="search">
                        <form action="http://google.com/search" >
                            <fieldset role="search">
                                <input type="hidden" value="site:csmcis2.csmcis.com/~coolj" name="q">
                                <input type="search" class="search" results="0" name="q" placeholder="Search">
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div id="nav-main">
                </div>
                <div id="nav-path">
                </div>
            </div>
            <section id="main">
                <!--[if lt IE 7]>
                    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
                <![endif]-->

                <!-- Add your site or application content here -->
                <div id="col3">
                {content}
                </div>
                <div class="col1 dim">
                    more things
                </div>
                <div class="col1 dim">
                    and more things
                </div>
                <footer id="footer">
                    <div id="footer-body">
                        <ul class="footer">
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                        </ul>
                        <ul class="footer">
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                        </ul>
                        <ul class="footer">
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                        </ul>
                        <ul class="footer">
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                        </ul>
                        <ul class="footer">
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                        </ul>
                        <ul class="footer">
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                            <li><a href="">test</a></li>
                        </ul>
                        <p id="copyright">
                        &copy; 2012 Douglas Putnam | <a href="/~coolj/my.py/license/dw.de">License</a> | <a href="mailto:putnamd@smccd.edu?Subject=HTML5">Contact</a>
                        </p>
                    </div>
                </footer>
            </section>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="/~coolj/js/plugins.js"></script>
        <script src="/~coolj/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            /*
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){{var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}}(document,'script'));
            */
        </script>
    </body>
</html>
